logs
*.log
npm-debug.log*

node_modules/

src/.vitepress/dist/

# Temp files
*.tmp
*.temp

# MacOS
.DS_Store

# VitePress cache
src/.vitepress/cache/

# Optional npm cache directory
.npm/

# Yarn cache files
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace